*.o
ANTs-1.9.x-Linux
matlab
python
create_objs_single.pl
*~
.gitignore
.#*
bin/NVK
bin/NVK.tmp
bin/niikmath
bin/niikmath.tmp
bin/niikcortex_deform
bin/niikcortex_initics
bin/niik_stx_regitration
bin/niik_skull_segment
bin/niik_bpf
bin/niikmat2xfm
bin/niik_inpaint
bin/niik_calc_pT2
bin/niik_skull_segment
bin/niik_fmean
bin/niik_fstdv
bin/fcalc
src/local.defs
bin/minc_add_history
bin/minc_copy_history
bin/xfm2niikmat
bin/niik_fmedian
bin/niik_simu_focalpath_test
bin/niik_test1
bin/niik_test_3vw
bin/niik_test_ann
bin/niik_test_lesion_feature1
bin/niik_test_nls_lesion
bin/niik_test_nls_skull
src/#*

# build directory for VS Code
build

